<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

		<bean id="wLTAddrMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.fc.wlt.ordbgens.wlt.mapper.WLTAddrMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="wltaddrDao" class="org.fc.wlt.ordbgens.wlt.dao.WLTAddrDao" >
 		<property name="mapper" ref="wLTAddrMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="wLTAssetMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.fc.wlt.ordbgens.wlt.mapper.WLTAssetMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="wltassetDao" class="org.fc.wlt.ordbgens.wlt.dao.WLTAssetDao" >
 		<property name="mapper" ref="wLTAssetMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="wLTCertOrgMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.fc.wlt.ordbgens.wlt.mapper.WLTCertOrgMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="wltcertorgDao" class="org.fc.wlt.ordbgens.wlt.dao.WLTCertOrgDao" >
 		<property name="mapper" ref="wLTCertOrgMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="wLTCertPerMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.fc.wlt.ordbgens.wlt.mapper.WLTCertPerMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="wltcertperDao" class="org.fc.wlt.ordbgens.wlt.dao.WLTCertPerDao" >
 		<property name="mapper" ref="wLTCertPerMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="wLTFileMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.fc.wlt.ordbgens.wlt.mapper.WLTFileMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="wltfileDao" class="org.fc.wlt.ordbgens.wlt.dao.WLTFileDao" >
 		<property name="mapper" ref="wLTFileMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="wLTFundMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.fc.wlt.ordbgens.wlt.mapper.WLTFundMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="wltfundDao" class="org.fc.wlt.ordbgens.wlt.dao.WLTFundDao" >
 		<property name="mapper" ref="wLTFundMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="wLTPendMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.fc.wlt.ordbgens.wlt.mapper.WLTPendMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="wltpendDao" class="org.fc.wlt.ordbgens.wlt.dao.WLTPendDao" >
 		<property name="mapper" ref="wLTPendMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="wLTTransferMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.fc.wlt.ordbgens.wlt.mapper.WLTTransferMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="wlttransferDao" class="org.fc.wlt.ordbgens.wlt.dao.WLTTransferDao" >
 		<property name="mapper" ref="wLTTransferMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	<bean id="wLTUserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.fc.wlt.ordbgens.wlt.mapper.WLTUserMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="wltuserDao" class="org.fc.wlt.ordbgens.wlt.dao.WLTUserDao" >
 		<property name="mapper" ref="wLTUserMapper" />
 		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
 	</bean>
	
</beans>
